/* general */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  height: 25vh;
  background-image: url(../img/banniere.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5em;
  h1{
    color: rgba(75, 64, 233, 0.897);
    font-size: 1.3em;
    text-align: center;
    margin: 0
  }
  fieldset{
    border: none;
    input{
      border:none;
      width:90%;
      height: 2em;
      display:block;
      margin:0 auto;
      border-radius: 0.8em;
    }
    button{
      border:none;
      background:rgba(75, 64, 233, 0.897);
      color: #fff;
      padding: 0.2em 0.8em;
      font-size:1.3em;
      margin:0 auto;
      display:block;
    }
  }
}

/* main */

main {
  width: auto;
  margin: 0 auto;
  h1{
    text-align: center;
  }
  ul {
    display: flex;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 1300px;
    min-height: 355px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: height 0.5s linear;
    li {
      list-style: none;
      width: 30%;
      margin-right: 4em ;
      a {
        img {
          width: 10em;
        }
      }
      h3 {
        font-size: 0.8em;
        overflow: hidden;
        max-width: 100%;
      }
    }
  }
}

/*Media Query*/

@media screen and (min-width: 768px) {
  nav {
    height: 30vh;
    h1{
      font-size: 1.5em;
    }
    fieldset{
      margin-top: 2em;
    } 
  }
}

@media screen and (min-width: 922px) {
 
  main {
    .container{
      width:90%;
      display: flex;
      justify-content: center;
      margin:0 auto;
      padding:0.5em;
      background-image: linear-gradient(to right, rgba(19.61%, 7.84%, 7.84%, 1.00) 150px, rgba(27.45%, 13.73%, 13.73%, 0.84) 100%);
      #img{
        margin-right:2em
      }
      .content{
        color:#fff;
        width:50%;
        h1{
          font-size: 1.5em;
        }
        span{
          text-align: center;
          font-size: 1.3em;
        }
        p{
          border: 1px solid #fff;
          width: 40%;
          margin: 1em 0;
        }
      }
    }
    ul {
      li {
        width: 30%;
        margin-right: 1em;
        padding: 0.5em;
        a {
          img {
            width: 10em;
          }
        }
        h3 {
          font-size: 0.8em;
          width: 80%;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1600px) {
  
}
